<div class="container m-3 d-flex justify-content-center flex-column">
  <div>
    <h1 class="text-center">Here is a new list</h1>

  </div>
  <%= simple_form_for [@list], class:"d-flex justify-content-center" do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "btn btn-info mt-4" %>
    <% end %>

</div>
